h1 {
  font-size: 200%;
}

table,
tr,
th,
td {
  border: 2px solid #000;
  padding: 10px;
  font-family: "Courier New", Courier, monospace;
}

code {
  font-size: 120%;
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
}
